@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}
/*  */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

button{
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #4E6E81;
    color: white;
    font-family: 'Montserrat', 'san-serif';
}

header{
    background: no-repeat center/cover url('assets/MonteFuji.jpg');
    height: calc(100vh - 150px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

header nav p{
    font-weight: bold;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin: 0 15px;
    color: #f5517a;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    color: #f5517a;
    margin-bottom: 10px;
    font-size: 4rem;
}

header nav h2 {
    color: #f5517a;
}
