@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}
/*  */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #472183;
}

ul {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

button{
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #460C68;
    color: white;
    font-family: 'Montserrat', 'san-serif';
    text-shadow: 0px 0px 15px rgb(255,255,255);
}

header{
    background: no-repeat center/cover url('assets/MonteFuji3Op.jpg');
    height: calc(100vh - 150px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

header nav p{
    font-weight: bold;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin: 0 15px;
    color: #FF8787;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content p{
    color: #FF8787;
    font-weight: bold;
}
.header-content h1 {
    color: #FF577F;
    margin-bottom: 10px;
    font-size: 4rem;
}

header nav h2 {
    color: #FF8787;
}


.pacotes {
    background: #472183;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
}

.pacotes .pacotes-title{
    width: 100%;
    text-align: center;
    margin: 25px 0;
    color: White;
}

.pacotes .card {
    width: 250px;
    height: 500px;
    background: #472183;
    border-radius: 24px 0;
    margin: 10px;
    position: relative;
}

.pacotes .card-content h1{
    margin: 11px;
    color: #FF577F;
}

.pacotes .card-content {
    padding: 10px 25px;
}
.pacotes .card-content ul{
    display: flex;
    padding: 0;
    flex-direction: column;

}

.pacotes .card-content ul li{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 3px;
    font-weight: bold;
    color: white;
}

.pacotes .card-content li svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #37306B;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #37306B;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

.servicos {
    padding: 15px;
}

.servicos .servicos-tittle {
    text-align: center;
    margin: 35px 0;
    color: #FF577F;
}

.servicos .servicos-cards {
    margin-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    color: white;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    transition: all 1s;
}

.servicos .card svg:hover {
    transform: scale(1.5);
}

.servicos .card h3{
    font-weight: bold;
}

.servicos .card p {
    font-size: 0.9rem;
    text-align: center;
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
}

.contato {
    padding: 60px;
    position: relative;
    text-align: right;
    color: white;
}

.contato .contato-card {
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 99;
    background: white;
    border-radius: 8px;
    top: calc(50% - 150px);
    left: calc(20% - 175px);
    text-align: center;
    display: center;
    flex-direction: column;
    justify-content: center;
}

;.contato .contato-card h1 {
    padding-left: 50px;
    text-align: left;
}

.contato .contato-card li {
    font-size: .8rem;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.contato .contato-card li svg {
    width: 20px;
    margin: 2px;
}
#map {
    height: 400px;

    width: 100%;
}
