@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}
/*  */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

button{
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #3F497F;
    color: white;
    font-family: 'Montserrat', 'san-serif';
}

header{
    background: no-repeat center/cover url('assets/MonteFuji2Op.jpg');
    height: calc(100vh - 150px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

header nav p{
    font-weight: bold;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin: 0 15px;
    color: #3F497F;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content p{
    color: #2C3333;
    font-weight: bold;
}
.header-content h1 {
    color: #3F497F;
    margin-bottom: 10px;
    font-size: 4rem;
}

header nav h2 {
    color: #3F497F;
}


.pacotes {
    background: #50577A;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
}

.pacotes .pacotes-title{
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .card {
    width: 250px;
    height: 200px;
    background: #50577A;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.pacotes .card-content h1{
    margin: 11px;
}
